@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
*,*::after,*::before{box-sizing: border-box;}
body{margin: 0;
padding: 0;
font-family: 'DM Sans', sans-serif;}

.container{
    background-color: #F5F5F5;
    padding: 100px 0;
    max-width: 1136px;
    margin:0 auto;
}
.row{
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    align-items:center;
}
.col-4 {
    width:33.333333%;
    padding:0 20px;
}
h1{
    font-size: 40px;
line-height: 52px;
color: #000000;
}
img{
    width: 70px;
    height: 70px;
}

h4{
    margin: 0;
    font-size: 20px;
    line-height: 29px;
}
 aside small{
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.4;
}
article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hed{
    padding-left: 5px;
  
}
.list{
    margin-left: 70px;
}
ul{
    display: flex;
    line-height: 0;
}
li{
    color: #000000;
    opacity: 0.4;
    padding: 0 5px;

}
aside{
    display: flex;
}

main p,small{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
main small{
    margin-top: 14px;
    margin-right: 20px;
}

main span,article,.bar {
    justify-content: space-between;
    position: relative;
    display: flex;
    margin-bottom: 5px;
}
main span::after{display: block; content: ""; background-color: #E2FBD7; border-radius: 71.5px; width: 330px;height: 8px; position: absolute;bottom: 0;}
main span::before{display: block; content: ""; background-color: #34B53A; border-radius: 71.5px; width: 30%;height: 8px; position: absolute;bottom: 0; z-index: 1;}
main article::after  {display: block; content: ""; background-color: #FFE5D3;; border-radius: 71.5px; width: 330px;height: 8px; position: absolute;bottom: 0;}
main article::before  {display: block; content: ""; background-color: #FF3A29; border-radius: 71.5px; width: 80%;height: 8px; position: absolute;bottom: 0; z-index: 1;}
main .bar::after  {display: block; content: ""; background-color: #DAD7FE; border-radius: 71.5px; width: 330px;height: 8px; position: absolute;bottom: 0;}
main .bar::before  {display: block; content: ""; background-color: #4339F2; border-radius: 71.5px; width: 50%;height: 8px; position: absolute;bottom: 0; z-index: 1;}

main span  small{
    color:#34B53A;
}
main article small{
    color:#FF3A29;
}
main .bar  small{
    color:#4339F2;
}

